body {
    margin: 0;
    padding: o;
    font-family: "Tahoma", "Geneva", sans-serif;
}

header {
    width: 100%;
    height: 40px;
    background: #161e45;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rol {
    margin-left: 30px;
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;
    ;
}

.search {
    margin-right: 50px;
}

.btnpry {
    margin-right: 100px;
    padding: 3px;
    height: 40px;
    width: 200px;
    border-radius: 0px;
}

.btn-primary {
    background: #346ae0;
    border-color: #346ae0;
}

.btnpry:hover {
    background: #161e45;
    border-color: #161e45;
}

.contenido {
    width: 100%;
    display: flex;
}

.menu {
    width: 250px;
    min-height: 95.2vh;
    background: #282828;
    color: #828282;
    font-size: 25px;
}

.fa-home {
    font-size: 40px;
}

span {
    font-size: 15px;
}

.home {
    width: 100%;
    height: 160px;
    border-bottom: 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.options {
    width: 100%;
    height: auto;
    border-bottom: 2px solid;
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 20px;
}

.options span,
.solicitudes span {
    padding-left: 10px;
}

.icono {
    margin-left: 20px;
}

.solicitudes {
    padding-left: 10px;
    padding-top: 15px;
    font-size: 20px;
}

.fa-envelope {
    color: #828282;
    font-size: 18px;
}

.escritorio {
    width: 100%;
}

.bnvd-home {
    display: flex;
    flex-direction: column;
    opacity: 0.3;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.bienvenida {
    font-size: 50px;
}


/* Grow */

.hvr-grow {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.content-GE {
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
}


/*FORMULARIO EMPLEADO*/

.formulario-empleado-nuevo {
    padding: 30px;
}

.content-form-general,
.content-form-trabajo {
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

.nav-link {
    padding: 0.5rem 6rem;
}

.botones-form {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.cancelar {
    margin-left: 20px;
}

.file-empleado {
    margin-left: 0;
    margin-top: 10px;
}

.img-empleado {
    border: none;
    border-radius: 100px;
    width: 200px;
    height: 200px;
    margin-left: 25px;
}

.form-letf-file {
    padding-top: 11px;
}


/* FORMULARIO JORNADA */

.formulario-jornada-nueva,
.formulario-permiso-nuevo {
    padding-top: 0px;
    padding-left: 50px;
}

.titulo-jornada,
.titulo-permiso {
    display: flex;
    align-items: center;
    padding: 30px;
}

.cjl-jornada,
.cjl-permiso {
    margin-left: 30px;
    font-size: 50px;
    font-weight: bold;
}

.botones-form-jornada,
.botones-form-permiso {
    display: flex;
    padding-left: 50px;
    padding-top: 20px;
    width: 100%;
    padding-right: 50px;
}

.btn-right {
    margin-left: 250px;
}

.siguiente {
    margin-left: 20px;
}

a:not([href]):not([tabindex]) {
    color: #fff;
}


/* notificaciones */

.notify {
    color: aliceblue;
    margin-top: -7px;
    position: absolute;
    margin-left: 18px;
    background: transparent;
}

.fa-bell {
    color: aliceblue;
    font-size: 20px;
}


/* VER */

.ver-img {
    width: 200px;
    height: 200px;
}

.profile {
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    margin-top: 30px;
}

.ver-nmbr {
    font-weight: bold;
    margin-left: 25px;
    font-size: 50px;
}

.fa-map-marker-alt {
    margin-left: 25px;
    color: #1aa2de;
}

.dt-info {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    margin-top: -10px;
    width: 50%;
}

.usr-titulo {
    margin-left: 25px;
    margin-top: 30px;
    font-size: 30px;
}

.usr-cargo {
    margin-left: 25px;
    font-size: 18px;
    margin-top: -10px;
    color: #1aa2de;
}

table {
    font-size: 16px;
}

.usr-table {
    display: flex;
    justify-content: center;
    margin-top: -25px;
}

.info-contrato {
    margin-right: 25px;
}

.usr-btn {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-bottom: 50px;
}


/* GESTION DE USUARIO */

.contenedor-gestion-usuario {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}

.custom-control-label {
    margin-top: 7px;
}