body{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
    margin-top: 33px;
}

.contenedor{
    width: 100%;
    height: 100vh;
}

header, .Logo-isss{
    width: 100%;
    display: flex;
    margin-bottom: 10px;
}

.img-iss{
    margin-left: 50px;
}

.logo-sdpo{
    margin-right: 50px;
}

.text-logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    color: steelblue;
}

p{
    margin-top: 0;
    margin-bottom: -2px;
    font-size: 20px;
}
.ayuda{
    width: 100%;
    height: 50px;
    background: #000;
    color: #fff;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.ayuda i{
    color: #fff;
    font-size: 35px;
    padding-right: 50px;
}

.fa-question-circle:hover{
    color: darkgrey;
    font-size: 40px;
}

.contenido{
    margin-top: 0;
    width: 100%;
    display: flex;
}

.titulo{
    margin-left: 70px;
    margin-top: 15px;
}
.fa-chevron-right{
    font-size: 23px;
}

span{
    padding-left: 10px;
    font-size: 18px;
}

h2{
    margin-top: -1;
}

ul{
    padding-left: 8px;
}

.menu{
    color: #fff;
    background: #000;
    width: 525px;
    margin-top: -1px;
    min-height: 74.69vh;
}

.formulario{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenido-formulario{
    width: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenido-input{
    width: 80%;
}

.btn-primary{
    width: 40%;
}

.conten-btn{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.alert{
    width: 80%;
}