body {
    margin: 0;
    padding: o;
    font-family: "Tahoma", "Geneva", sans-serif;
}

header {
    width: 100%;
    height: 40px;
    background: #161e45;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rol {
    margin-left: 30px;
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;
    ;
}

.search {
    margin-right: 50px;
}

.btnpry {
    margin-right: 100px;
    padding: 3px;
    height: 40px;
    width: 200px;
    border-radius: 0px;
}

.btn-primary {
    background: #346ae0;
    border-color: #346ae0;
}

.btnpry:hover {
    background: #161e45;
    border-color: #161e45;
}

.contenido {
    width: 100%;
    display: flex;
}

.menu {
    width: 250px;
    min-height: 95.2vh;
    background: #282828;
    color: #828282;
    font-size: 25px;
}

.fa-home {
    font-size: 40px;
}

span {
    font-size: 15px;
}

.home {
    width: 100%;
    height: 160px;
    border-bottom: 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.options {
    width: 100%;
    height: auto;
    border-bottom: 2px solid;
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 20px;
}

.options span,
.solicitudes span {
    padding-left: 10px;
}

.icono {
    margin-left: 20px;
}

.solicitudes {
    padding-left: 10px;
    padding-top: 15px;
    font-size: 20px;
}

.fa-envelope {
    font-size: 18px;
}

.escritorio {
    width: 100%;
}

.bnvd-home {
    display: flex;
    flex-direction: column;
    opacity: 0.3;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.bienvenida {
    font-size: 50px;
}

.solicitud {
    margin-left: 7px;
}


/* Grow */

.hvr-grow {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}


/* PERFIL */

.ver-img {
    width: 200px;
    height: 200px;
}

.profile {
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    margin-top: 30px;
}

.ver-nmbr {
    font-weight: bold;
    margin-left: 25px;
    font-size: 50px;
}

.fa-map-marker-alt {
    margin-left: 25px;
    color: #1aa2de;
}

.dt-info {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    margin-top: -10px;
    width: 50%;
}

.usr-titulo {
    margin-left: 25px;
    margin-top: 30px;
    font-size: 30px;
}

.usr-cargo {
    margin-left: 25px;
    font-size: 18px;
    margin-top: -10px;
    color: #1aa2de;
}

table {
    font-size: 16px;
}

.usr-table {
    display: flex;
    justify-content: center;
    margin-top: -25px;
}

.info-contrato {
    margin-right: 25px;
}

.usr-btn {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-bottom: 50px;
}